
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}

.header a:hover {
  text-decoration: underline;
}

.header__left {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
}


.header__right {
  display: flex;
  margin-left: auto;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
}

.container {
  flex: 1;
  display: flex;
  margin-top: 12%;
  flex-direction: column;
}

.container img {
  object-fit: contain;
  height: 100px;
}

.search__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
}

.search__input input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.search__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search__buttons button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #f8f8f8;
  outline: none;
  border: none;
  cursor: pointer;
}

.button{

  font-size: 1.2vw;
  color: white;
  padding: 0.5em 1.5em;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: #0059ff;
  
}
.button:hover{
  border:2px solid white; 
}

.box2 {
  margin-top: 210px;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(8, 1fr);
}

.sub-links a {
  color:black;
  text-decoration: none;
}

.sub-links a:hover {
  text-decoration: underline;
}